
@media (max-width: 1408px){
    .cont{
        max-width: 970px;
    }
}

@media (max-width: 992px){
    .cont{
        max-width:750px;
    }

    .box{
        display: grid;
        grid-template-columns: 100%;
    }

    .box2{
        display: grid;
        grid-template-columns: 100%;
    }

    .box3{
        display: grid;
        grid-template-columns: 100%;
    }

    .html{
        
    }
}

@media (max-width: 767px){
    .cont{
        max-width:none;
    }
}