



*{
    padding: 0;
    margin:0 ;
}


body{
    background-image: url(img/1.jpg);
    
}

.heder{
    display: grid;
    margin-bottom: 3.3%;
    grid-template-columns: 30% 70%  ;
}

.left{

    background-color: #252122;
}

.write{
   
    background-color: #252122;
}

#t{
    margin-top: 4%;
    margin-left: 26%;
    color:#EECDE0;
    
}








.wraper{
    
    margin-left: 15%;
}

.bag{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2px;
    
}

.e{
    
    text-align: center;
    color: #ffffff;
    grid-column: 1/5;
}

.q{
    
    grid-column:1/4 ;
}


