*{
    padding:5px ;
    margin: 5px;
}

html{
    overflow: hidden;
}

body{
    background-color: #6EA3B5;
    
}

.cont{
    max-width: 1408px;
    margin: 0px auto;
    
    
}

.box{
    display: grid;
    grid-template-columns: 100%  ;
    grid-auto-rows: 90px;
    grid-gap: 10px;
   
    
}


.box2{
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-auto-rows: 110px;
    grid-gap: 10px;
}

.box3{
    display: grid;
    grid-template-columns: 100% ;
    grid-auto-rows: 90px;
    grid-gap: 10px;
}

.box4{
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    grid-auto-rows: 110px;
    grid-gap: 10px;
} 

.box5{
    display: grid;
    grid-template-columns: 100% ;
    grid-auto-rows: 110px;
    grid-gap: 10px;
} 




.razm{
    display: grid;
    grid-gap: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 25px;
    
    
}

.silka{
    color: black;
}

.IzmenShirIzdelZaScho{
  
    background-color:#FFEF0F ;
  
}

.IzmenShirRuk{

    background-color:#FFEF0F ;
   
}

.ImenShirYob{
  
    background-color:#FFEF0F ;
  
}

.IzmenShirBr2{
   
    background-color: #FFEF0F;
   
}

.SredRem{
    
    background-color:#FFEF0F ;
    
}

.MelkRem{
    background-color:#FFEF0F
}

.Utyzh{
    background-color:#FFEF0F
}

.voz{
    background-color:#6EA3B5;
}

.voz1{
    background-color:#FF3021;
}